<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Catalog - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/catalog.css">
    <script src="/static/js/modal.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://bootswatch.com/united/bootstrap.min.css">
    <script src="https://use.fontawesome.com/d0801f57b6.js"></script>
    {% block extra_imports %}{% endblock %}
</head>
<body>

<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Game Catalog</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li{% block active_index %}{% endblock %}><a
                            href="/">Home</a></li>
                    <li class="dropdown {% block active_category %}{%
                            endblock %}">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" role="button"
                           aria-expanded="false">Categories <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu multi-level" role="menu">
                            <li><a href="/category">Listing</a></li>
                            <li><a href="/category/new">New Category</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown">Plaftorms</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">PC</a></li>
                                <li><a href="#">Playstation 4</a></li>
                                <li><a href="#">XBox One</a></li>
                            </ul>
                        </li>

                        </ul>
                    </li>
                    <li class="dropdown {% block active_game %}{%
                            endblock %}">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" role="button"
                           aria-expanded="false">Games <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu multi-level" role="menu">
                            <li><a href="/game">Listing</a></li>
                            <li><a href="/game/new">New Game</a></li>
                        </ul>
                    </li>
                    <li{% block active_about %}{% endblock %}><a href="/about">About</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" role="button">Login with <i
                            class="fa fa-facebook-official"
                            aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Breadcrumb -->
    {% block body %}
    {% endblock %}
</div>
<!-- Modal -->
<div class="modal fade" id="confirmation_modal" tabindex="-1" role="dialog"
     aria-labelledby="confirmation_modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirmation_modalLabel">
                    Confirmation
                    needed</h4>
            </div>
            <div class="modal-body">
                <span id="confirmation_text"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning"
                        data-dismiss="modal">No
                </button>
                <button type="button" class="btn btn-primary"
                        id="operation_btn">Yes
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>