{% extends "base.html" %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block active_category %} class="active"{% endblock %}

{% block breadcrumbs %}
    {% import 'macros/breadcrumbs.html' as bread %}
    {{ bread.print([{'name': 'Home', 'url': '/'}, {'name': 'Categories',
    'url': '/category'}, {'name': category.name, 'url': "/category/%d" %
    category.id}]) }}
{% endblock %}

{% block body %}
    <h3><b>{{ games|length }}</b> game(s) found for <b>{{ category.name }}</b>
        category{% if session['user'] %}
        <a class="btn btn-warning btn-sm" href="/category/{{ category.id
                }}/update">Edit</a>&nbsp;
        <button class="btn btn-danger btn-sm" data-toggle="modal"
            data-target="#confirmation_modal"
                onclick="delete_category({{ category.id }},'{{ category.name
                        }}')
                        ">Remove</button>{% endif %} <a href="/category/{{ category.id }}.json"><i class="fa fa-superpowers endpoint" aria-hidden="true"></i></a></h3>
    <div class="alert alert-success">
        {{ category.description }}
    </div>
    <div class="row">
    {% for game in games %}
        <div class="col-lg-6 col-md-6 col-xs-12" style="padding-bottom: 15px;">
            <div class="row">
                <div class="col-lg-4"><img
                        src="{{ game.thumb }}"
                        class="thumb"></div>
                <div class="col-lg-8">
                    <div class="row">
                        <ul class="game-box">
                            <li class="game-title"><a href="/game/{{ game.id }}">{{ game.name }}</a></li>
                            <li class="game-developer">{{ game.developer }}</li>
                            <li class="game-short">{{ game.synopsis | truncate(100, False, '...') }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <script>
        var csrf_token = "{{ csrf_token() }}";
    </script>
{% endblock %}