{% extends "base.html" %}

{% block title %}
    Categories
{% endblock %}

{% block active_category %}active{% endblock %}

{% import 'macros/game_box.html' as game_box %}

{% block breadcrumbs %}
    {% import 'macros/breadcrumbs.html' as bread %}
    {{ bread.print([{'name': 'Home', 'url': '/'}, {'name': 'Categories',
    'url': '/category'}]) }}
{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="list-group">
                {% for category, message in messages %}
                    <li class="list-group-item list-group-item-{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h2>All Categories <a href="/category.json"><i class="fa fa-superpowers endpoint" aria-hidden="true"></i></a></h2>
    {% for category in categories %}
        <div class="row">
            <div class="col-md-12">
                <h3><a href="/category/{{ category.id }}">{{ category.name }} <span
                class="badge">{{ category.games | length }}</span></a></h3>
            </div>
        </div>
        <div class="row">
            {% for game in category.top_games(4) %}
                {{ game_box.simple_box(game, 3) }}
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}