{% extends "base.html" %}

{% block title %}
    Available Games
{% endblock %}

{% block extra_imports %}
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <script>
        $(document).ready(function() {
            $('#game_list').DataTable();
        } );
    </script>
{% endblock %}

{% block breadcrumbs %}
    {% import 'macros/breadcrumbs.html' as bread %}
    {{ bread.print([{'name': 'Home', 'url': '/'}, {'name': 'Games',
    'url': '/game'}]) }}
{% endblock %}

{% block active_game %}active{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="list-group">
                {% for category, message in messages %}
                    <li class="list-group-item list-group-item-{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h3 style="padding-bottom: 20px;">Listing {{ games_scope }}</h3>
    <table id="game_list" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Developer</th>
                <th>Publisher</th>
                <th>Category</th>
                <th>Platforms</th>
                <th>Date Added</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Developer</th>
                <th>Publisher</th>
                <th>Category</th>
                <th>Platforms</th>
                <th>Date Added</th>
            </tr>
        </tfoot>
        <tbody>{% for game in games %}
            <tr>
                <td><a href="/game/{{ game.id }}">{{ game.name }}</a></td>
                <td>{{ game.developer }}</td>
                <td>{{ game.publisher }}</td>
                <td><a href="/category/{{ game.category.id }}">{{ game.category
                .name
                        }}</a></td>
                <td>{{ game.platforms() | join(', ') }}</td>
                <td>{{ game.created.strftime('%Y-%m-%d %H:%M') }}</td>
            </tr>
        {% endfor %}</tbody>
    </table>

{% endblock %}