{% extends "base.html" %}

{% block title %}
    {{ game.name }} by {{ game.publisher }}
{% endblock %}

{% block active_game %}active{% endblock %}

{% block breadcrumbs %}
    {% import 'macros/breadcrumbs.html' as bread %}
    {{ bread.print([{'name': 'Home', 'url': '/'}, {'name': 'Games',
    'url': '/game'}, {'name': game.name, 'url': "/game/%d" % game.id}]) }}
{% endblock %}

{% block body %}
    <h3><b>{{ game.name }}</b>
        <a href="/game/{{ game.id }}/update" class="btn btn-warning
        btn-sm">Edit</a>&nbsp;
        <button class="btn btn-danger btn-sm" data-toggle="modal"
                data-target="#confirmation_modal"
                onclick="delete_game({{ game.id }},'{{ game.name }}')
                        ">Remove
        </button>
    </h3>
    <div class="form-group">
        <img
                src="{{ game.thumb }}"
                class="col-md-2 thumb">{{ game.synopsis | replace("\n",
                "<br>") | safe}} </div>
    <div class="form-group">
        <div class="col-lg-10">
            <span style="font-weight: bold">Developer: </span> {{ game
                    .developer }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10">
            <span style="font-weight: bold">Publisher: </span> {{ game
                    .publisher }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10">
            <span style="font-weight: bold">Platform(s): </span> {{ game
                    .platforms() | join(', ') }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10">
            <span style="font-weight: bold">Category: </span> {{ game
                    .category.name }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10">
            <span style="font-weight: bold">Page Views: </span> {{ game
                    .views }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10">
            <span style="font-weight: bold">Cataloged By: </span> {{ game
                    .user.name }}
        </div>
    </div>
{% endblock %}