{% extends "base.html" %}

{% block title %}
Available Games
{% endblock %}

{% block active_index %} class="active"{% endblock %}

{% block body %}
<div class="row">
    <h3>Category A</h3>
    <div class="col-md-2">Item</div>
    <div class="col-md-2">Item</div>
    <div class="col-md-2">Item</div>
    <div class="col-md-2">Item</div>
    <div class="col-md-2">Item</div>
    <div class="col-md-2">Item</div>
    <div class="col-md-2">Item</div>
    <div class="col-md-2">Item</div>
    <div class="col-md-2">Item</div>
    <div class="col-md-2">Item</div>
    <div class="col-md-2">Item</div>
    <div class="col-md-2">Item</div>
    <div class="col-md-2">Item</div>
    <div class="col-md-2">Item</div>
    <div class="col-md-2">Item</div>
    <div class="col-md-2">Item</div>
    <div class="col-md-2">Item</div>
</div>
{% endblock %}